@page
@model RepositoryManagerNet.WebUI.Pages.IndexModel
@{
    List<RepositoryManagerNet.WebUI.Models.RepoData> Repos = new List<RepositoryManagerNet.WebUI.Models.RepoData>();
    Repos.Add(new RepositoryManagerNet.WebUI.Models.RepoData(1, "testa","APT","testa.test"));
    Repos.Add(new RepositoryManagerNet.WebUI.Models.RepoData(2, "testa","RPM","testb.test"));
}
<head>
    <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
    <div>
    <table>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Domain
            </th>
            <th>
                 
            </th>
        </tr>
        @foreach (RepositoryManagerNet.WebUI.Models.RepoData i in Repos)
        {
            <tr>
                <td>
                    @i.ID;
                </td>
                <td>
                    @i.Name;
                </td>
                <td>
                    @i.PackageType;
                </td>
                <td>
                    @i.BaseDomain
                </td>
                <td>
                    <a asp-page="/Repository/@i.ID">Details</a><br />
                    <a asp-page="/RepositoryEdit/@i.ID">EDIT</a><br />
                </td>
            </tr>
        }
    </table>
    </div>
    <div>
        <form method="post">
            <label>Name: </label>
            <input type="text" asp-for="Name">
            <label>Package manager type: </label>
            @foreach (string item in Model.PackageManagerTypes)
            {
                <input type="radio" asp-for="PackageType" value="@item" />@item
            }
            <label>Base Domain: </label>
            <input type="text" asp-for="BaseDomain">
            <button type="submit">SUBMIT</button>
        </form>
    </div>
</body>
